<!DOCTYPE html>
<html lang="en" ng-app="warpspeed" ng-cloak>
  <head>
    <meta charset="utf-8">
    <title>WarpSpeed {{ include.title }}</title>
    
    <link rel="shortcut icon" href="/assets/ico/favicon.ico" type="image/x-icon" />

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon" href="/assets/ico/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/ico/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/ico/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/ico/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/ico/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/ico/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/ico/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/ico/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/ico/apple-touch-icon-152x152.png" />

    <!-- Windows 8 Tile Icons -->
    <meta name="msapplication-square70x70logo" content="/assets/ico/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="/assets/ico/mediumtile.png" />
    <meta name="msapplication-square310x310logo" content="/assets/ico/largetile.png" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->

    <script src="/assets/js/jquery-1.11.2.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

  </head>
  <body>

    <div class="navbar navbar-inverse" style="border-radius: 0;">
      <div class="container">
        <div class="navbar-header">
          <a href="https://warpspeed.io" class="navbar-brand">
            <img src="/assets/ico/apple-touch-icon-57x57.png"> 
            WarpSpeed
          </a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav"></ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://warpspeed.io/">WarpSpeed Home</a>
            </li>
            <li>
              <a href="http://docs.warpspeed.io/v1">Docs</a>
            </li>
            <li>
              <a href="https://github.com/warpspeed">GitHub</a>
            </li>
          </ul>
        </div>
      </div>
    </div>